<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>«Bedu» - главная страница.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="«Bedu Studio» 2022"/>
    <meta name="keywords" content="6Б класс, 10 Гимназия, 6Б.Tech, 6Б Аутентификация, Казань, 6Б, сайт 6Б класс, Мистпп Даниил, Мистеев, Даниил, 6Б, Bedu,bedu studio" />

    <meta property="og:title" content="«Bedu» - главная страница." />
    <meta property="og:description" content="«Bedu Studio» 2022" />
    <meta property="og:image" content="../static/assets/img/e3eb3545-61ec-467c-b61b-8f8beb4bdb32-2688264.png" />

    <meta name="twitter:title" content="«Bedu» - главная страница." />
    <meta name="twitter:description" content="«Bedu Studio» 2022" />
    <meta name="twitter:image" content="../static/assets/img/e3eb3545-61ec-467c-b61b-8f8beb4bdb32-2688264.png" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737360.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737359.png">
    <link rel="icon" type="image/png" sizes="120x120" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737361.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737362.png">

    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737361.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737362.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://259506.selcdn.ru" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family&#x3D;Jost:500&amp;subset&#x3D;all&amp;display&#x3D;swap">
    <link rel="stylesheet" href="https://s.tb.ru/uploads/fonts/pt-root-ui/regular.css">
    <link rel="stylesheet" href="../static/assets/styles/styles-core.css" />

    <script id="chatBroEmbedCode">
    /* Chatbro Widget Embed Code Start */
    function ChatbroLoader(chats,async){async=!1!==async;var params={embedChatsParameters:chats instanceof Array?chats:[chats],lang:navigator.language||navigator.userLanguage,needLoadCode:'undefined'==typeof Chatbro,embedParamsVersion:localStorage.embedParamsVersion,chatbroScriptVersion:localStorage.chatbroScriptVersion},xhr=new XMLHttpRequest;xhr.withCredentials=!0,xhr.onload=function(){eval(xhr.responseText)},xhr.onerror=function(){console.error('Chatbro loading error')},xhr.open('GET','https://www.chatbro.com/embed.js?'+btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),xhr.send()}
    /* Chatbro Widget Embed Code End */
    ChatbroLoader({encodedChatId: '18j9S'});
    </script>
</head>
<body class="sb-body   font-jost-pt-root-ui sb-content-size_m sb-buttons-border_semi-round">
    <div class="site-wrapper" tabindex="0">
        <section data-type="header-collapsible-menu" id="header-collapsible-menu-2" class="s-header-collapsible-menu-type-1 s-header-collapsible-menu-type-1_published">
            <link id="header-collapsible-menu-type-1" rel="stylesheet" href="../static/assets/styles/header-collapsible-menu-type-1.css" />
            <div class="s-header-collapsible-menu-type-1__top-wrapper sb-text-white">
                <div class=" sb-background sb-background" style="background: #111111;"></div>
                <div class="sb-container">
                    <div class="s-header-collapsible-menu-type-1__top">
                        <h4 class="s-header-collapsible-menu-type-1__logo sb-align-center sb-font-h4 sb-font-title">
                            <font style="color: #85d53e;">Bedu</font>
                        </h4>
                        <div class="s-header-collapsible-menu-type-1__right sb-hidden-desktop">
                            <div class="s-header-collapsible-menu-type-1__burger">
                                <span class="s-header-collapsible-menu-type-1__burger-line"></span>
                            </div>
                        </div>
                        <div class="s-header-collapsible-menu-type-1__right sb-hidden-desktop-lg-min">
                            <div class="s-header-collapsible-menu-type-1__burger">
                                <span class="s-header-collapsible-menu-type-1__burger-line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="s-header-collapsible-menu-type-1__divider sb-hidden-desktop ">
                        <div class=" sb-background sb-background sb-background_clear s-header-collapsible-menu-type-1__background" style="background: #85D53E;"></div>
                    </div>
                    <div class="s-header-collapsible-menu-type-1__divider sb-hidden-desktop-lg-min">
                        <div class=" sb-background sb-background sb-background_clear s-header-collapsible-menu-type-1__background" style="background: #85D53E;"></div>
                    </div>
                </div>
            </div>
            <div class="s-header-collapsible-menu-type-1__menu-wrapper sb-hidden-desktop  sb-text-white">
                <div class=" sb-background sb-background" style="background: #111111;"></div>
                <div class="s-header-collapsible-menu-type-1__menu-container sb-container">
                    <nav class="s-header-collapsible-menu-type-1__menu">
                        <ul class="sb-row sb-m-11-top-minus">
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/main" class="s-header-collapsible-menu-type-1__link sb-font-p1">   Домой   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/duty" class="s-header-collapsible-menu-type-1__link sb-font-p1">   Дежурство   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/diary" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Дневник   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/vpr" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   ВПР   </a>
                            </li>  <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/classroom_media" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Классное медиа   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/bulb" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Bulb   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/beduplay" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Play   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/store" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Store   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/search" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Поиск   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://messenger.tb.ru/10gimn/7bclass/welcome" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Мессенджер   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/uslugi" class="s-header-collapsible-menu-type-1__link sb-font-p1" style="color: #FFFFFF"   >   Услуги РТ   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/shutdown" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Завершение работы   </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="s-header-collapsible-menu-type-1__menu-wrapper sb-hidden-desktop-lg-min  sb-text-white">
                <div class=" sb-background sb-background" style="background: #111111;"></div>
                <div class="s-header-collapsible-menu-type-1__menu-container sb-container">
                    <div class="s-header-collapsible-menu-type-1__menu sb-m-clear-bottom">
                        <ul class="sb-row sb-m-11-top-minus">
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/main" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Домой   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/duty" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Дежурство   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/diary" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Дневник   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/vpr" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   ВПР   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/classroom_media" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Классное медиа   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/bulb" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Bulb   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/beduplay" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Play   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/store" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Store   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/search" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Поиск   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://messenger.tb.ru/10gimn/7bclass/welcome" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Bedu Мессенджер   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/uslugi" class="s-header-collapsible-menu-type-1__link sb-font-p1" style="color: #FFFFFF"   >   Услуги РТ   </a>
                            </li>
                            <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                                <a href="https://bedu.tb.ru/shutdown" class="s-header-collapsible-menu-type-1__link sb-font-p1"    >   Завершение работы   </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section data-type="about" id="about" class="s-about-type-2 sb-text-white sb-padding-top_s sb-padding-bottom_s">
            <link id="about-type-2" rel="stylesheet" href="../static/assets/styles/about-type-2.css" />
            <div class=" sb-background" style="background: #111111;"></div>
            <div class="sb-container">
                <div class="sb-row s-about-type-2__row sb-m-clear-top">
                    <div class="s-about-type-2__text-container sb-col_sm-12 sb-col_xs-12  sb-col_lg-12 sb-col_md-12 ">
                        <div class="sb-row sb-m-clear-bottom">
                            <h2 class="sb-col_lg-10 sb-col_md-12 sb-col_sm-12 sb-col_xs-12 sb-font-h2 sb-font-title sb-m-12-bottom">
                                <font style="color: #85d53e;">✌Привет! Все классно</font>
                                <font style="color: #85d53e;">? </font>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section data-type="bevel" id="bevel" class="s-bevel-type-1 s-bevel-type-1_direction-left">
            <link id="bevel-type-1" rel="stylesheet" href="../static/assets/styles/bevel-type-1.css" />
            <div class=" sb-background sb-background sb-background_top-background" style="background: #111111;"></div>
            <div class="sb-background-image sb-background sb-background sb-background_bottom-background" style="background-image: url(../static/assets/img/4473aa9f-b945-478b-8fbc-4892e797081c-3775841.jpeg);">
                <div class="sb-background-overlay" style="opacity: 0"></div>
            </div>
        </section>
        <section data-type="reviews" id="reviews" class="s-reviews-type-3 sb-text-white sb-padding-top_s sb-padding-bottom_s">
            <link id="reviews-type-3" rel="stylesheet" href="../static/assets/styles/reviews-type-3.css" />
            <div class="sb-background-image sb-background" style="background-image: url(../static/assets/img/aa30da09-b600-4178-a628-37a3b6a66344-3775843.jpeg);">
                <div class="sb-background-overlay" style="opacity: 0"></div>
            </div>
            <div class="sb-container sb-m-clear-bottom">
                <div class="sb-row sb-m-6-bottom">
                    <h3 class="sb-col_lg-10 sb-col_md-12 sb-col_sm-12 sb-col_xs-12 sb-align-left sb-font-h3 sb-font-title">
                        <font style="color: #85d53e;">Цитата недели</font>
                    </h3>
                </div>
                <div class="sb-row sb-m-6-top-minus">
                    <div class="sb-m-6-top sb-col_lg-6 sb-col_md-6 sb-col_sm-12 sb-col_xs-12">
                        <div class="sb-m-clear-bottom">
                            <div class="s-reviews-type-3__top sb-m-18-bottom sb-m-clear-bottom sb-m-clear-right">
                                <div class="sb-m-clear-bottom">
                                    <h5 class="sb-align-left sb-font-h5 sb-font-title sb-m-21-bottom">Оскар Уайльд<br style="user-select: auto;"></h5>
                                    <div class="sb-text-opacity sb-font-p3">Писатель, критик, драматург, прозаик</div>
                                </div>
                            </div>
                            <div class="sb-align-left sb-font-p3">Мы не выносим людей с теми же недостатками, что и у нас.<br></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section data-type="bevel" id="bevel-2" class="s-bevel-type-1 s-bevel-type-1_direction-right">
            <link id="bevel-type-1" rel="stylesheet" href="../static/assets/styles/bevel-type-1.css" />
            <div class="sb-background-image sb-background sb-background sb-background_top-background" style="background-image: url(../static/assets/img/bcd2d07f-753d-4fa9-8a6a-0ecc135041a3-2688367.png);">
                <div class="sb-background-overlay" style="opacity: 0"></div>
            </div>
            <div class=" sb-background sb-background sb-background_bottom-background" style="background: #111111;"></div>
        </section>
        <section data-type="text" id="text" class="s-text-type-1 sb-text-white sb-padding-top_s sb-padding-bottom_s">
            <link id="text-type-1" rel="stylesheet" href="../static/assets/styles/text-type-1.css" />
            <div class=" sb-background" style="background: #111111;"></div>
            <div class="sb-container">
                <div class="sb-row">
                    <div class="s-text-type-1__main sb-m-8-bottom  sb-col_12 ">
                        <div class="sb-row sb-m-clear-bottom">
                            <h3 class="sb-col_lg-10 sb-col_md-12 sb-col_sm-12 sb-col_xs-12 sb-align-left sb-font-h3 sb-font-title sb-m-14-bottom">
                                <font color="#85d53e">События и мероприятия</font>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section data-type="text" id="text-2" class="s-text-type-1 sb-text-white sb-align-center sb-padding-top_l sb-padding-bottom_l">
            <link id="text-type-1" rel="stylesheet" href="../static/assets/styles/text-type-1.css" />
            <div class=" sb-background" style="background: #111111;"></div>
            <div class="sb-container">
                <div class="sb-row">
                    <div class="s-text-type-1__main sb-m-8-bottom  sb-col_12 ">
                        <div class="sb-row sb-m-clear-bottom">
                            <div class="sb-col_lg-8 sb-col-offset_lg-2 sb-col_md-12 sb-col_sm-12 sb-col_xs-12 sb-font-p2 sb-text-opacity sb-m-19-bottom">Событий пока нет</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section data-type="advantages-blocks" id="advantages-blocks" class="s-advantages-blocks-type-1 sb-text-white sb-padding-top_m sb-padding-bottom_l">
            <link id="advantages-blocks-type-1" rel="stylesheet" href="../static/assets/styles/advantages-blocks-type-1.css" />
            <div class=" sb-background" style="background: #111111;"></div>
            <div class="sb-container sb-m-clear-bottom">
                <div class="sb-row sb-m-6-bottom sb-m-clear-bottom">
                    <h3 class="sb-col_lg-10 sb-col_md-12 sb-col_sm-12 sb-col_xs-12 sb-align-left sb-font-h3 sb-font-title sb-m-14-bottom">
                        <font style="color: #85d53e;">Bedu Bulb</font>
                    </h3>
                </div>
                <div class="sb-input sb-input_search s-advantages-blocks-type-1__input sb-m-5-bottom" data-validated="true">
                    <label class="sb-input__wrapper">
                        <input type="text" class="sb-input__field" name="email" placeholder="Поиск">
                        <svg class="sb-input__icon" aria-hidden="true" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 17a6 6 0 114.89-2.524l2.817 2.817a1 1 0 01-1.414 1.414l-2.816-2.816A5.972 5.972 0 0111 17zm0-2a4 4 0 100-8 4 4 0 000 8z" fill="currentColor"/>
                        </svg>
                    </label>
                    <button class="sb-input__clear js-query-clear" aria-label="Очистить поле" style="display: none;">
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 6.586l2.293-2.293a1 1 0 111.414 1.414L9.414 8l2.293 2.293a1 1 0 01-1.414 1.414L8 9.414l-2.293 2.293a1 1 0 01-1.414-1.414L6.586 8 4.293 5.707a1 1 0 011.414-1.414L8 6.586z" fill="currentColor"/>
                        </svg>
                    </button>
                </div>
                <div class="s-advantages-blocks-type-1__list sb-m-clear-bottom">
                    {% block main_page_bulb_content %}
                    {% endblock %}



                    {% block bulb_content %}
<!-- контейнер с лентой bulb // начало -->
{% for i in news %}
<div class="s-advantages-blocks-type-1__item-wrapper sb-m-6-bottom">
    <div class="s-advantages-blocks-type-1__item">
        <div class="s-advantages-blocks-type-1__divider-container sb-m-6-bottom">
            <div class="s-advantages-blocks-type-1__divider-wrapper">
                <div class="s-advantages-blocks-type-1__divider sb-element-wrapper-editor">
                    <div class=" sb-background sb-background sb-background_clear" style="background: #e7e8ea;"></div>
                </div>
            </div>
        </div>
        <div class="sb-row s-advantages-blocks-type-1__row sb-m-clear-bottom">
            <div class="sb-col_lg-6 sb-col_md-6 sb-col_sm-12 sb-col_xs-12 s-advantages-blocks-type-1__image-container sb-m-8-bottom">
                <div class="sb-image-rectangle-small">
                    <img class="sb-image-crop sb-image-crop_loaded lazy" src="{{i.img.url}}" alt="Изображение" style="transform: translateX(0%) translateY(0.10864197530864197%) rotateZ(0deg) scaleX(1) scaleY(1.5000015000015); -webkit-transform: translateX(0%) translateY(0.10864197530864197%) rotateZ(0deg) scaleX(1) scaleY(1.5000015000015)">
                </div>
            </div>
            <div class="sb-col_lg-6 sb-col_md-6 sb-col_sm-12 sb-col_xs-12">
                <div class="s-advantages-blocks-type-1__label-container sb-m-17-bottom">
                    <div class="s-advantages-blocks-type-1__label-wrapper sb-text-dark">
                        <div class=" sb-background sb-background sb-background_clear" style="background: linear-gradient(135deg, #fff68d, #70ec94);"></div>
                        <div class="s-advantages-blocks-type-1__label sb-align-left sb-font-p4">{{i.tag}}<!--Bedu Studio--></div>
                    </div>
                </div>
                <h5 class="s-advantages-blocks-type-1__title sb-align-left sb-font-h5 sb-font-title sb-m-21-bottom">{{i.news_title}}</h5>
                <div class="sb-m-13-bottom sb-align-left sb-font-p3">{{i.news_description}}</div>
                <a href="../bulb?post={{i.news_id}}" class="s-advantages-blocks-type-1__button sb-button-secondary sb-button-type_bordered" style="border-color: #303952">{{i.action_click}}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- контейнер с лентой bulb // конец -->
{% endblock  %}





                    <!--<div class="s-advantages-blocks-type-1__item-wrapper sb-m-6-bottom">
                        <div class="s-advantages-blocks-type-1__item">
                            <div class="s-advantages-blocks-type-1__divider-container sb-m-6-bottom">
                                <div class="s-advantages-blocks-type-1__divider-wrapper">
                                    <div class="s-advantages-blocks-type-1__divider sb-element-wrapper-editor">
                                        <div class=" sb-background sb-background sb-background_clear" style="background: #e7e8ea;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sb-row s-advantages-blocks-type-1__row sb-m-clear-bottom">
                                <div class="sb-col_lg-6 sb-col_md-6 sb-col_sm-12 sb-col_xs-12 s-advantages-blocks-type-1__image-container sb-m-8-bottom">
                                    <div class="sb-image-rectangle-small">
                                        <img class="sb-image-crop sb-image-crop_loaded lazy" src="../static/assets/img/b39b09b6-5f57-4b41-845d-7458deb23920-4821974.gif" alt="Изображение" style="transform: translateX(0%) translateY(0.10864197530864197%) rotateZ(0deg) scaleX(1) scaleY(1.5000015000015); -webkit-transform: translateX(0%) translateY(0.10864197530864197%) rotateZ(0deg) scaleX(1) scaleY(1.5000015000015)">
                                    </div>
                                </div>
                                <div class="sb-col_lg-6 sb-col_md-6 sb-col_sm-12 sb-col_xs-12">
                                    <div class="s-advantages-blocks-type-1__label-container sb-m-17-bottom">
                                        <div class="s-advantages-blocks-type-1__label-wrapper sb-text-dark">
                                            <div class=" sb-background sb-background sb-background_clear" style="background: linear-gradient(135deg, #fff68d, #70ec94);"></div>
                                            <div class="s-advantages-blocks-type-1__label sb-align-left sb-font-p4">Bedu Studio</div>
                                        </div>
                                    </div>
                                    <h5 class="s-advantages-blocks-type-1__title sb-align-left sb-font-h5 sb-font-title sb-m-21-bottom">BeduOS 4</h5>
                                    <div class="sb-m-13-bottom sb-align-left sb-font-p3">Новая. Российская. Цифровая.</div>
                                    <a href="https://middle.tb.ru/os4" class="s-advantages-blocks-type-1__button sb-button-secondary sb-button-scheme-white sb-button-type_filled" style="background-color: #303952">   Подробнее   </a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="s-advantages-blocks-type-1__no-results sb-font-h5 sb-font-title sb-m-21-bottom">Нет результатов, уточните запрос</div>
            </div>
        </section>
        <section data-type="bevel" id="bevel-3" class="s-bevel-type-1 s-bevel-type-1_direction-left">
            <link id="bevel-type-1" rel="stylesheet" href="../static/assets/styles/bevel-type-1.css" />
            <div class=" sb-background sb-background sb-background_top-background" style="background: #111111;"></div>
            <div class="sb-background-image sb-background sb-background sb-background_bottom-background" style="background-image: url(../static/assets/img/8a545ec6-23c3-4a75-b3b8-06be6ff04cd3-3775912.jpeg);">
                <div class="sb-background-overlay" style="opacity: 0"></div>
            </div>
        </section>
        <section data-type="footer-customer" id="footer-customer" class="s-footer-customer-type-3 sb-text-white sb-padding-top_s">
            <link id="footer-customer-type-3" rel="stylesheet" href="../static/assets/styles/footer-customer-type-3.css" />
            <div class="sb-background-image sb-background" style="background-image: url(../static/assets/img/133ae2b1-0164-4ca8-868b-aecfe837e2ee-3775913.jpeg);">
                <div class="sb-background-overlay" style="opacity: 0"></div>
            </div>
            <div class="sb-container">
                <div class="s-footer-customer-type-3__wrapper sb-m-clear-top   s-footer-customer-type-3__wrapper_right-align-links">
                    <h4 class="s-footer-customer-type-3__logo sb-align-left sb-font-h4 sb-font-title">
                        <font style="color: #85d53e;">Bedu</font>
                    </h4>
                    <nav class="s-footer-customer-type-3__menu sb-m-clear-top sb-m-15-top">
                        <a href="https://bedu.tb.ru/shutdown" class="s-footer-customer-type-3__button sb-button-secondary sb-m-8-top sb-button-type_filled">   Завершить сеанс   </a>
                    </nav>
                </div>
            </div>
        </section>
    </div>

    <template id="popups-stash">
    </template>

    <template id="popups-images-stash">
    </template>

    <script>
        window.tbConfig={
            "inFrame":false,
            "enableLazyLoading":false,
            "enableJsLazyLoading":false,
            "enableDynamicGoods":true,
            "forcePhoneInputMask":false,
            "isPreviewMode":false,
            "hasPromocodes":true,
            "yandexMapsApiKey":"a9eba83c-b342-4dfe-ab11-2c7cbd6839cb",
            "messengerLink":"https://w.tb.ru/open-messenger/widget?wId=W-2D4644E997764004A91739C02E9F4A08",
            "cartHash":"U2FsdGVkX19UMrFX+a7aw3nlanv9Sq9CogOgCrc+yaj3j0SrN8AG4L7VbuwiUjVhIwf5D3yJtZAXrVobQ7ai4FJxg01VHAtrpHTd1yfEX6DRZx0h3EjTU72vaMcAtWcq",
            "enableSitesCheckoutIntegration":false,
            "yaMetricsCounter":"88390118",
            "googleWebPropertyId":"UA-204206737-1",
            "staticPath":"https://e26f86a1-a349-40e0-9864-90f0278f7cc5.selcdn.net/tb/0.1.511"
        };
        window.tbConfig.isExported=true;
        window.tbConfig.exportedApiUrl='https://a.tb.ru';
        window.tbConfig.apiUrl=!window.tbConfig.isExported ? '' : window.tbConfig.exportedApiUrl;
        window.tbConfig.isModern='noModule'in HTMLScriptElement.prototype;
        var n,o="chrome"in window,e="InstallTrigger"in window;
        function t(n){
            var o=document.createElement("script");
            return o.src="".concat(window.tbConfig.staticPath,"/js/").concat(n),window.tbConfig.isModern&&(o.type="module",o.src=o.src.replace(".js",".modern.js")),o.defer=!0,o
        }
        function d(n){var o=t(n);document.head.appendChild(o)}window.tbConfig.enableLazyLoading&&d("lazy-load.js"),"attachShadow"in Element.prototype||d("lit-polyfill-support.js"),d("webcomponents-loader.js"),o||e||d("smoothscroll.js"),n=t("front.js"),document.addEventListener("DOMContentLoaded",(function(){document.head.appendChild(n)}));
    </script>

    <link rel="stylesheet" href="../static/assets/styles/size-m.css" />
    <link rel="stylesheet" href="../static/assets/styles/popups.css" />
    <link rel="stylesheet" href="../static/assets/styles/styles-helpers.css" />


    <!-- Yandex.Metrika counter -->
    <section id="yandex-metrica-script" data-type="script">
        <div class="sb-container sb-container_no-position"> 
        
        <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','//mc.yandex.ru/metrika/tag.js', 'ym');
    
        ym(88390118, 'init', {accurateTrackBounce:true, trackLinks:true, webvisor:true, clickmap:true, params: {__ym: {isFromApi: 'yesIsFromApi'}}});
        </script>
        
        <noscript>
            <div>
                <img src="https://mc.yandex.ru/watch/88390118" style="position:absolute; left:-9999px;" />
            </div>
        </noscript>
        </div>
    </section>
    <!-- /Yandex.Metrika counter -->

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <section id="google-analytics-script" data-type="script">
        <div class="sb-container sb-container_no-position"> 
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-204206737-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
        
                gtag('config', 'UA-204206737-1');
            </script>
        </div>
    </section>
    <!-- End Google Analytics -->  
</body>
</html>
