<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="«Bedu Studio» 2023" />

		<meta property="og:title" content="«Bedu» - Bulb." />
		<meta property="og:description" content="«Bedu Studio» 2023" />
		<meta property="og:image" content="../static/assets/img/b39b09b6-5f57-4b41-845d-7458deb23920-4821974.gif" />

		<meta name="twitter:title" content="«Bedu» - Bulb." />
		<meta name="twitter:description" content="«Bedu Studio» 2023" />
		<meta name="twitter:image" content="../static/assets/img/b39b09b6-5f57-4b41-845d-7458deb23920-4821974.gif" />
		<meta name="twitter:card" content="summary_large_image" />
		
		<link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737360.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737359.png">
		<link rel="icon" type="image/png" sizes="120x120" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737361.png">
		<link rel="icon" type="image/png" sizes="180x180" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737362.png">
		
		<link rel="apple-touch-icon" type="image/png" sizes="120x120" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737361.png">
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../static/assets/img/540b1842-31ac-42f7-88d5-d8597d840953-2737362.png">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://259506.selcdn.ru" />
		
		<link rel="stylesheet" href="../static/assets/styles/styles-core.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family&#x3D;Jost:500&amp;subset&#x3D;all&amp;display&#x3D;swap">
		<link rel="stylesheet" href="https://s.tb.ru/uploads/fonts/pt-root-ui/regular.css">
		<link rel="stylesheet" href="../static/assets/styles/size-m.css" />
		<link rel="stylesheet" href="../static/assets/styles/popups.css" />
		<link rel="stylesheet" href="../static/assets/styles/styles-helpers.css" />
	</head>
	<body class="sb-body font-jost-pt-root-ui sb-content-size_m sb-buttons-border_semi-round">
		<div class="site-wrapper" tabindex="0">        
		    <!-- header -->
		    <!-- header -->
		    <section data-type="header-collapsible-menu" id="header-collapsible-menu" class="s-header-collapsible-menu-type-1 s-header-collapsible-menu-type-1_published">
		        <link id="header-collapsible-menu-type-1" rel="stylesheet" href="../static/assets/styles/header-collapsible-menu-type-1.css" />
		        <div class="s-header-collapsible-menu-type-1__top-wrapper sb-text-white">
		            <div class=" sb-background sb-background" style="background: #111111;"></div>
		            <div class="sb-container">
		                <div class="s-header-collapsible-menu-type-1__top">
		                    <h4 class="s-header-collapsible-menu-type-1__logo sb-align-center sb-font-h4 sb-font-title">
		                        <font>
		                            <font style="color: #85d53e;">Bedu</font>
		                        </font>
		                    </h4>
		                    <div class="s-header-collapsible-menu-type-1__right sb-hidden-desktop">
		                        <div class="s-header-collapsible-menu-type-1__burger">
		                        	<span class="s-header-collapsible-menu-type-1__burger-line"></span>
		                        </div>
		                    </div>
		                    <div class="s-header-collapsible-menu-type-1__right sb-hidden-desktop-lg-min">
		                        <div class="s-header-collapsible-menu-type-1__burger">
		                        	<span class="s-header-collapsible-menu-type-1__burger-line"></span>
		                        </div>
		                    </div>
		                </div>
		                <div class="s-header-collapsible-menu-type-1__divider sb-hidden-desktop">
		                    <div class="sb-background sb-background sb-background_clear s-header-collapsible-menu-type-1__background" style="background: #85D53E;"></div>
		                </div>
		                <div class="s-header-collapsible-menu-type-1__divider sb-hidden-desktop-lg-min">
		                    <div class=" sb-background sb-background sb-background_clear s-header-collapsible-menu-type-1__background" style="background: #85D53E;"></div>
		                </div>
		            </div>
		        </div>
		        <div class="s-header-collapsible-menu-type-1__menu-wrapper sb-hidden-desktop  sb-text-white">
		            <div class=" sb-background sb-background" style="background: #111111;"></div>
		            <div class="s-header-collapsible-menu-type-1__menu-container sb-container">
		                <nav class="s-header-collapsible-menu-type-1__menu">
		                    <ul class="sb-row sb-m-11-top-minus">
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/main" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Домой </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/duty" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Дежурство </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/diary" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Дневник </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/vpr" class="s-header-collapsible-menu-type-1__link sb-font-p1"> ВПР </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/classroom_media" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Классное медиа </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/bulb" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Bulb </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/beduplay" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Play </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/store" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Store </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/search" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Поиск </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://messenger.tb.ru/10gimn/7bclass/welcome" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Мессенджер </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/uslugi" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Услуги РТ </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/shutdown" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Завершение работы </a>
		                        </li>
		                    </ul>
		                </nav>
		            </div>
		        </div>
		        <div class="s-header-collapsible-menu-type-1__menu-wrapper sb-hidden-desktop-lg-min  sb-text-white">
		            <div class=" sb-background sb-background" style="background: #111111;"></div>
		            <div class="s-header-collapsible-menu-type-1__menu-container sb-container">
		                <div class="s-header-collapsible-menu-type-1__menu sb-m-clear-bottom">
		                    <ul class="sb-row sb-m-11-top-minus">
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/main" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Домой </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/duty" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Дежурство </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/diary" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Дневник </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/vpr" class="s-header-collapsible-menu-type-1__link sb-font-p1"> ВПР </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/classroom_media" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Классное медиа </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/bulb" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Bulb </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/beduplay" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Play </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/store" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Store </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/search" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Поиск </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://messenger.tb.ru/10gimn/7bclass/welcome" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Мессенджер </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/uslugi" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Услуги РТ </a>
		                        </li>
		                        <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
		                        	<a href="https://bedu.tb.ru/shutdown" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Завершение работы </a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- header -->
		    <!-- header -->

		    <section data-type="advantages-blocks" id="advantages-blocks-2" class="s-advantages-blocks-type-1 sb-text-white sb-padding-top_m sb-padding-bottom_l">
			    <link id="advantages-blocks-type-1" rel="stylesheet" href="../static/assets/styles/advantages-blocks-type-1.css"/>
			    <div class=" sb-background" style="background: #111111;"></div>
			    <div class="sb-container sb-m-clear-bottom">
			        <div class="s-advantages-blocks-type-1__list sb-m-clear-bottom">
					    {% block bulb_content %}
					    {% endblock %}
		            </div>
			    </div>
			</section>
		</div>

		<template id="popups-stash">
		</template>

		<template id="popups-images-stash">
		</template>

		<script>
		    window.tbConfig = { "inFrame": false, "enableLazyLoading": false, "enableJsLazyLoading": false, "enableDynamicGoods": true, "forcePhoneInputMask": false, "isPreviewMode": false, "hasPromocodes": true, "yandexMapsApiKey": "a9eba83c-b342-4dfe-ab11-2c7cbd6839cb", "messengerLink": "https://w.tb.ru/open-messenger/widget?wId=W-2D4644E997764004A91739C02E9F4A08", "cartHash": "U2FsdGVkX18KVI7LlxZrp/pPuRVf7tuT1D22KrgAUAPrjkbekuSjXieq/ptelOg4EI2rALPco3mijwnH1kOBZ9oWehuLKojo0QoftSoqxnwiQbpyI0njaMbRB2TdSBuJ", "enableSitesCheckoutIntegration": false, "yaMetricsCounter": "88390118", "googleWebPropertyId": "UA-204206737-1", "staticPath": "https://e26f86a1-a349-40e0-9864-90f0278f7cc5.selcdn.net/tb/0.1.511" };
		    window.tbConfig.isExported = true; window.tbConfig.exportedApiUrl = 'https://a.tb.ru';
		    window.tbConfig.apiUrl = !window.tbConfig.isExported ? '' : window.tbConfig.exportedApiUrl;
		    window.tbConfig.isModern = 'noModule' in HTMLScriptElement.prototype;
		    var n, o = "chrome" in window, e = "InstallTrigger" in window; function t(n) { var o = document.createElement("script"); return o.src = "".concat(window.tbConfig.staticPath, "/js/").concat(n), window.tbConfig.isModern && (o.type = "module", o.src = o.src.replace(".js", ".modern.js")), o.defer = !0, o } function d(n) { var o = t(n); document.head.appendChild(o) } window.tbConfig.enableLazyLoading && d("lazy-load.js"), "attachShadow" in Element.prototype || d("lit-polyfill-support.js"), d("webcomponents-loader.js"), o || e || d("smoothscroll.js"), n = t("front.js"), document.addEventListener("DOMContentLoaded", (function () { document.head.appendChild(n) }));
		</script>

		<!-- Yandex.Metrika -->
		<section id="yandex-metrica-script" data-type="script">
		    <div class="sb-container sb-container_no-position">
		        <script type="text/javascript">
		            (function (m, e, t, r, i, k, a) {
		                m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
		                m[i].l = 1 * new Date();
		                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		            })(window, document, 'script', '//mc.yandex.ru/metrika/tag.js', 'ym');

		            ym(88390118, 'init', { accurateTrackBounce: true, trackLinks: true, webvisor: true, clickmap: true, params: { __ym: { isFromApi: 'yesIsFromApi' } } });
		        </script>
		        <noscript>
		            <div><img src="https://mc.yandex.ru/watch/88390118" style="position:absolute; left:-9999px;" alt="" />
		            </div>
		        </noscript>
		    </div>
		</section>
		<!-- /Yandex.Metrika counter -->

		<!-- Google Analytics -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<section id="google-analytics-script" data-type="script">
		    <div class="sb-container sb-container_no-position">
		        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-204206737-1"></script>
		        <script>
		            window.dataLayer = window.dataLayer || [];
		            function gtag() { dataLayer.push(arguments); }
		            gtag('js', new Date());

		            gtag('config', 'UA-204206737-1');
		        </script>
		    </div>
		</section>
		<!-- End Google Analytics -->
	</body>
</html>