.s-call-to-action-type-3{
	position:relative
}
.s-call-to-action-type-3__buttons{
	padding-bottom:32px;
	border-bottom:1px solid #d7d7d7
}
.s-call-to-action-type-3__button-wrapper{
	display:block
}
.s-call-to-action-type-3__button-wrapper+.s-call-to-action-type-3__button-wrapper{
	margin-top:20px
}
.s-call-to-action-type-3__button{
	width:100%
}