.s-main-type-7{
	position:relative;
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	min-height:100vh;
	box-sizing:border-box;
	overflow:hidden
}
.s-main-type-7:not(.s-main-type-7_step-scroll) .sb-container{
	padding-top:20px;
	padding-bottom:20px
}
.s-main-type-7_laptop-only .s-main-type-7__container{
	display:none
}
@media screen and (max-width:639px){
	.s-main-type-7_step-scroll .sb-container{
		padding-top:56px;
		padding-bottom:56px
	}
	.s-main-type-7__additional{
		order:1;
		width:100%;
		max-width:100%;
		padding:0 20px
	}
}
@media (min-width:640px) and (max-width:959px){
	.s-main-type-7_step-scroll .sb-container{
		padding-top:64px;
		padding-bottom:64px
	}
	.s-main-type-7__additional{
		order:1;
		width:100%;
		max-width:608px;
		margin-left:auto;
		margin-right:auto
	}
}
@media (min-width:960px) and (max-width:1359px){
	.s-main-type-7_step-scroll .sb-container{
		padding-top:64px;
		padding-bottom:64px
	}
	.s-main-type-7__additional{
		min-height:406px
	}
}
@media screen and (min-width:1360px){
	.s-main-type-7_step-scroll .sb-container{
		padding-top:72px;
		padding-bottom:72px
	}
}
@media screen and (max-width:959px){
	.s-main-type-7{
		flex-wrap:wrap;
		align-items:flex-start
	}
	.s-main-type-7.sb-block{
		min-height:0
	}
	.s-main-type-7__container.sb-container{
		padding-bottom:0!important
	}
}
.s-main-type-7.sb-align-center .s-main-type-7__buttons{
	justify-content:center
}
.s-main-type-7.sb-align-center .s-main-type-7__step-scroll-wrapper{
	display:flex;
	justify-content:center
}
.s-main-type-7.sb-align-center .s-main-type-7__step-scroll_left{
	transform:translateX(-20px)
}
.s-main-type-7.sb-align-center .s-main-type-7__step-scroll_right{
	transform:translateX(50px)
}
.s-main-type-7__background{
	z-index:2
}
@media screen and (max-width:639px){
	.s-main-type-7__additional-wrapper{
		width:100%
	}
}
@media screen and (min-width:960px){
	.s-main-type-7_laptop-only .s-main-type-7__additional-wrapper{
		right:50%;
		z-index:1;
		transform:translateX(50%)
	}
	.s-main-type-7_laptop-only .s-main-type-7__laptop-wrapper{
		left:50%;
		transform:translate(-50%,-50%)
	}
	.s-main-type-7__additional-wrapper{
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		width:50%
	}
}
.s-main-type-7__laptop-wrapper{
	z-index:3
}
.s-main-type-7__laptop-wrapper:after{
	content:"";
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-image:radial-gradient(ellipse 50% 50%,rgba(0,0,0,.3),transparent);
	transform:translate(8%,-84%)
}
@media screen and (max-width:959px){
	.s-main-type-7__laptop-wrapper{
		position:relative;
		width:100%
	}
	.s-main-type-7__button:last-child{
		margin-bottom:0!important
	}
}
@media screen and (min-width:960px){
	.s-main-type-7__laptop-wrapper{
		position:absolute;
		top:50%;
		left:24px;
		transform:translateY(-50%)
	}
}
@media (min-width:960px) and (max-width:1359px){
	.s-main-type-7__laptop-wrapper{
		width:648px
	}
}
@media screen and (min-width:1360px){
	.s-main-type-7__additional{
		min-height:554px
	}
	.s-main-type-7__laptop-wrapper{
		width:884px
	}
}
.s-main-type-7__laptop-background{
	position:relative;
	z-index:1;
	display:block;
	width:100%
}
.s-main-type-7__laptop-screen-wrapper{
	position:absolute;
	top:3.5%;
	left:7.5%;
	z-index:1;
	width:85%;
	padding-bottom:55%
}
.s-main-type-7__laptop-screen{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:.25rem;
	overflow:hidden
}
.s-main-type-7__buttons{
	display:flex;
	flex-wrap:wrap;
	margin-left:-8px;
	margin-right:-8px
}
.s-main-type-7__button{
	margin-left:8px;
	margin-right:8px
}
@media screen and (max-width:639px){
	.s-main-type-7__button{
		width:100%
	}
}
.s-main-type-7__step-scroll-container{
	position:absolute;
	left:0;
	right:0;
	bottom:0
}
.s-main-type-7__step-scroll-container .sb-container{
	padding-bottom:0
}
@media screen and (max-width:959px){
	.s-main-type-7__step-scroll-wrapper{
		transform:translateY(20px)
	}
}
.s-main-type-7__step-scroll{
	position:relative
}
