.s-main-type-10{
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	min-height:0;
	box-sizing:border-box;
	overflow:hidden
}
.s-main-type-10:not(.sb-align-center) .s-main-type-10__image{
	margin-left:0
}
.s-main-type-10:not(.sb-align-center) .s-main-type-10__social{
	margin-left:-16px;
	margin-right:-16px
}
.s-main-type-10:not(.sb-align-center) .s-main-type-10__social-container{
	justify-content:flex-start
}
@media screen and (max-height:599px){
	.s-main-type-10_with-scroll-icon{
		padding-top:20px;
		padding-bottom:65px
	}
}
@media screen and (min-height:600px){
	.s-main-type-10_with-scroll-icon{
		padding-top:40px;
		padding-bottom:80px
	}
}
.s-main-type-10 .sb-container{
	flex-grow:1
}
.s-main-type-10 .s-main-type-10__button-wrapper{
	display:flex;
	justify-content:center;
	width:100%
}
.s-main-type-10 .s-main-type-10__button-wrapper .s-main-type-10__button{
	width:100%
}
@media screen and (min-width:640px){
	.s-main-type-10 .s-main-type-10__button-wrapper .s-main-type-10__button{
		min-width:400px
	}
}
.s-main-type-10__top-content{
	position:relative;
	width:100%
}
@media screen and (max-width:639px){
	.s-main-type-10__top-content{
		height:36vh
	}
}
@media (min-width:640px) and (max-width:959px){
	.s-main-type-10__top-content{
		height:32vh
	}
}
@media (min-width:960px) and (max-width:1359px){
	.s-main-type-10__top-content{
		height:41vh
	}
}
@media screen and (min-width:1360px){
	.s-main-type-10__top-content{
		height:46vh
	}
}
.s-main-type-10__container{
	width:100%
}
.s-main-type-10__image{
	border:4px solid #fff;
	border-radius:100%;
	margin:0 auto
}
@media screen and (max-width:959px){
	.s-main-type-10__image{
		width:128px;
		height:128px
	}
}
@media screen and (min-width:960px){
	.s-main-type-10__image{
		width:168px;
		height:168px
	}
}
.s-main-type-10__image .sb-image-square{
	border-radius:100%
}
.s-main-type-10__text{
	width:100%
}
.s-main-type-10__buttons-container{
	display:inline-block;
	max-width:100%
}
@media screen and (max-width:639px){
	.s-main-type-10__buttons-container{
		width:100%
	}
}
