.s-steps-type-1{
	position:relative
}
@media (min-width:640px) and (max-width:959px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_left{
		left:-12px;
		right:calc(50% + 52px)
	}
}
@media screen and (min-width:960px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_left{
		right:calc(50% + 60px)
	}
}
@media (min-width:960px) and (max-width:1359px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_left{
		left:-20px
	}
}
@media screen and (min-width:1360px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_left{
		left:-24px
	}
}
@media (min-width:640px) and (max-width:959px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_right{
		left:calc(50% + 52px);
		right:-12px
	}
	.s-steps-type-1__line{
		top:32px
	}
}
.s-steps-type-1.sb-align-center .s-steps-type-1__block{
	align-items:center
}
.s-steps-type-1__block-wrapper:first-child .s-steps-type-1__line_left,.s-steps-type-1__block-wrapper:last-child .s-steps-type-1__line_right,.s-steps-type-1__block-wrapper:nth-child(3n+1) .s-steps-type-1__line_left,.s-steps-type-1__block-wrapper:nth-child(3n+3) .s-steps-type-1__line_right{
	display:none
}
.s-steps-type-1__block{
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center
}
@media screen and (min-width:640px){
	.s-steps-type-1__line{
		position:absolute;
		border-top-width:1px;
		border-top-style:solid
	}
}
@media (min-width:640px) and (max-width:959px){
	.s-steps-type-1__line_left{
		left:-24px;
		right:calc(100% + 20px)
	}
}
@media screen and (min-width:960px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_right{
		left:calc(50% + 60px)
	}
	.s-steps-type-1__line{
		top:36px
	}
	.s-steps-type-1__line_left{
		right:calc(100% + 24px)
	}
}
@media (min-width:960px) and (max-width:1359px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_right{
		right:-20px
	}
	.s-steps-type-1__line_left{
		left:-40px
	}
}
@media screen and (min-width:1360px){
	.s-steps-type-1.sb-align-center .s-steps-type-1__line_right{
		right:-24px
	}
	.s-steps-type-1__line_left{
		left:-48px
	}
}
.s-steps-type-1__line_right{
	right:0
}
@media (min-width:640px) and (max-width:959px){
	.s-steps-type-1__line_right{
		left:84px
	}
}
.s-steps-type-1__counter{
	position:relative;
	flex-shrink:0
}
.s-steps-type-1__circle{
	position:relative;
	z-index:2;
	display:flex;
	align-items:center;
	justify-content:center;
	border-width:1px;
	border-style:solid;
	border-radius:100%;
	box-sizing:border-box
}
@media screen and (max-width:959px){
	.s-steps-type-1__circle{
		width:64px;
		height:64px
	}
}
@media screen and (min-width:960px){
	.s-steps-type-1__line_right{
		left:96px
	}
	.s-steps-type-1__circle{
		width:72px;
		height:72px
	}
}
