<div class="s-header-collapsible-menu-type-1__top-wrapper sb-text-white">
    <div class=" sb-background sb-background" style="background: #111111;"></div>
    <div class="sb-container">
        <div class="s-header-collapsible-menu-type-1__top">
            <h4 class="s-header-collapsible-menu-type-1__logo sb-align-center sb-font-h4 sb-font-title">
                <font style="">
                    <font style="color: #85d53e;">Bedu</font>
                </font>
            </h4>
            <div class="s-header-collapsible-menu-type-1__right sb-hidden-desktop">
                <div class="s-header-collapsible-menu-type-1__burger">
                    <span class="s-header-collapsible-menu-type-1__burger-line"></span>
                </div>
            </div>
            <div class="s-header-collapsible-menu-type-1__right sb-hidden-desktop-lg-min">
                <div class="s-header-collapsible-menu-type-1__burger">
                    <span class="s-header-collapsible-menu-type-1__burger-line"></span>
                </div>
            </div>
        </div>
        <div class="s-header-collapsible-menu-type-1__divider sb-hidden-desktop ">
            <div class=" sb-background sb-background sb-background_clear s-header-collapsible-menu-type-1__background"
                style="background: #85D53E;">
            </div>
        </div>
        <div class="s-header-collapsible-menu-type-1__divider sb-hidden-desktop-lg-min ">
            <div class=" sb-background sb-background sb-background_clear s-header-collapsible-menu-type-1__background"
                style="background: #85D53E;"></div>
        </div>
    </div>
</div>
<div class="s-header-collapsible-menu-type-1__menu-wrapper sb-hidden-desktop  sb-text-white">
    <div class=" sb-background sb-background" style="background: #111111;"></div>
    <div class="s-header-collapsible-menu-type-1__menu-container sb-container">
        <nav class="s-header-collapsible-menu-type-1__menu">
            <ul class="sb-row sb-m-11-top-minus">
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                    <a href="https://bedu.tb.ru/main" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Домой
                    </a>
                </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top">
                    <a href="https://bedu.tb.ru/duty" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Дежурство </a>
                </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/diary" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Дневник </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/vpr" class="s-header-collapsible-menu-type-1__link sb-font-p1"> ВПР
                    </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/classroom_media"
                        class="s-header-collapsible-menu-type-1__link sb-font-p1"> Классное медиа </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/bulb" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu
                        Bulb </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/beduplay" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Bedu Play </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/store" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu
                        Store </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/search" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu
                        Поиск </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://messenger.tb.ru/10gimn/7bclass/welcome"
                        class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Мессенджер </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/uslugi" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Услуги РТ </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/shutdown" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Завершение работы </a> </li>
            </ul>
        </nav>
    </div>
</div>
<div class="s-header-collapsible-menu-type-1__menu-wrapper sb-hidden-desktop-lg-min  sb-text-white">
    <div class=" sb-background sb-background" style="background: #111111;"></div>
    <div class="s-header-collapsible-menu-type-1__menu-container sb-container">
        <div class="s-header-collapsible-menu-type-1__menu sb-m-clear-bottom">
            <ul class="sb-row sb-m-11-top-minus">
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/main" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Домой
                    </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/duty" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Дежурство </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/diary" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Дневник </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/vpr" class="s-header-collapsible-menu-type-1__link sb-font-p1"> ВПР
                    </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/classroom_media"
                        class="s-header-collapsible-menu-type-1__link sb-font-p1"> Классное медиа </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/bulb" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu
                        Bulb </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/beduplay" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Bedu Play </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/store" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu
                        Store </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/search" class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu
                        Поиск </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://messenger.tb.ru/10gimn/7bclass/welcome"
                        class="s-header-collapsible-menu-type-1__link sb-font-p1"> Bedu Мессенджер </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/uslugi" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Услуги РТ </a> </li>
                <li class="sb-col_lg-3 sb-col_md-6 sb-col_sm-6 sb-col_xs-12 sb-m-11-top"> <a
                        href="https://bedu.tb.ru/shutdown" class="s-header-collapsible-menu-type-1__link sb-font-p1">
                        Завершение работы </a> </li>
            </ul>
        </div>
    </div>
</div>
</section>
<section data-type="advantages-blocks" id="advantages-blocks-2"
    class="s-advantages-blocks-type-1 sb-text-white sb-padding-top_m sb-padding-bottom_l">
    <link id="advantages-blocks-type-1" rel="stylesheet" href="../static/assets/styles/advantages-blocks-type-1.css"


    Новая. Российская. Цифроваяjkdgfjdfjgldfjgkdfjgkdjkgldjfkgdjfkgjdkfjgkdfjgkjdfkgjdkfgjkdfjgkldfjgkdjfgkdjfgdjfkgjdlkfjgkldfjgkldfjgjdkflgjdkflgjdfjgkldfjgkldfjgkdjfklgdjfklgjdfklgjdfgjkldfjgkldfjgkdjfklgjdfklgjdfkgjkldfjgkdjfkgjdfkgjkldfjgkldfjgkldfjgkldfjklgjdfklgjdfkgjkdfgkldfjgkdfjgkjdfklgjdfkgdfgdkl.